.App {
  text-align: center;
}

.keys-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.hidden-word {
  display: flex;
  justify-content: center;
}

.hidden-key {
  font-size: 20px;
  margin: 20px;
}

.key {
  display: flex;
  justify-content: center;
  align-items:  center;
  width: 40px;
  height: 40px;
  margin: 10px;
  color: white;
}
